website
itensor/config.h
*.[oa]
*~
.DS_Store
include/*
*.swp
sample/dmrg
sample/dmrg-g
sample/mixedspin
sample/mixedspin-g
sample/dmrg_table
sample/dmrg_table-g
sample/dmrgj1j2
sample/dmrgj1j2-g
sample/exthubbard
sample/exthubbard-g
sample/hubbard_2d
sample/hubbard_2d-g
sample/hubbard_2d_conserve_momentum
sample/hubbard_2d_conserve_momentum-g
sample/trg
sample/trg-g
sample/ctmrg
sample/ctmrg-g
this_dir.mk
options.mk
.exrc
unittest/test-g
unittest/test
tutorial/project_template/myappname
tutorial/project_template/myappname-g
tutorial/01_one_site/one
tutorial/02_two_site/two
tutorial/03_svd/svd
tutorial/04_mps/mps
tutorial/05_gates/gates
tutorial/06_DMRG/dmrg
tutorial/finiteT/ancilla
tutorial/finiteT/en.dat
tutorial/finiteT/metts
tutorial/finiteT/sus.dat
