website
itensor/config.h
*.[oa]
*~
.DS_Store
include/*
*.swp
sample/dmrg
sample/dmrg-g
sample/iqdmrg
sample/iqdmrg-g
sample/dmrg_table
sample/dmrg_table-g
sample/dmrgj1j2
sample/dmrgj1j2-g
sample/exthubbard
sample/exthubbard-g
sample/idmrg
sample/idmrg-g
this_dir.mk
options.mk
.exrc
unittest/test-g
unittest/test
