*.[oa]
*~
include/*.h
include/*.ih
include/.profiling
*.swp
utilities/Makefile
matrix/macos/Makefile
matrix/intel/Makefile
itensor/Makefile
sandbox/dmrg
sandbox/iqdmrg
sample/dmrg
sample/iqdmrg
this_dir.mk
options.mk
